.terapia{
    
    
    font-size: 14px;
    font-weight: 700;
    line-height: 19.07px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #ffffff;

}
.terapiah{
    width: 70px;
    height: 20px;
    top: -159px;
    left: -466px;
    gap: 0px;
    opacity: 0px;
}